/* General Reset */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: #000;
}

/* Header Styles */
header {
    margin-top: 20px;
}

header h1 {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2em;
    margin: 0;
}

/* Image Section */
.image-section {
    margin: 20px 0;
}

.image-section img {
    width: 50%;
    max-width: 400px;
    height: auto;
    border-radius: 8px;
}

/* Integrantes Section */
.integrantes {
    margin: 20px 0;
}

.integrantes h2 {
    font-size: 1.5em;
    font-weight: bold;
}

.integrantes ul {
    margin: 10px ;
    max-width: 300px;
}

.integrantes li {
    margin: 5px 0;
    font-size: 1.1em;
}


/* Tabla */

.tabla-discografia table {
    width: 60%;
    border-collapse: collapse;
    margin: 20px auto;
    background-color: white;
    border: 2px solid #666;
}

.tabla-discografia th, .tabla-discografia td {
    border: 1px solid #666;
    padding: 10px;
    text-align: center;
    font-size: 1em;
}

.tabla-discografia th {
    background-color: #555;
    color: white;
    font-weight: bold;
}

.tabla-discografia tr:nth-child(odd) {
    background-color: #f2f2f2;
}

.tabla-discografia tr:nth-child(even) {
    background-color: white;
}

/* Texto bajo la tabla */
.tabla-discografia p {
    font-style: italic;
    text-align: center;
    margin-top: 10px;
    font-size: 1em;
}


/* Footer Styles */
footer {
    margin: 20px 0;
}

footer a {
    text-decoration: none;
    color: blue;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}
